  <link rel="stylesheet" type="text/css"
          href=""/>
<!-- inject:css -->
<!-- endinject -->

<div class="box"><i></i>我也雪碧图</div>
<!--test | start-->
<inline src="index/open-first.include.html" />
<!-- <inline src="index/open-second.include.html" /> -->
<!--   open-second-logined -->
<div class="open-second js-open-second" style="display:none;">
	<a href="javascript:;" class="close js-open-close"></a>
	<inline src="../modules/leavemsg-login/leavemsg-login.include.html" />
	<a href="javascript:;" class="go-btn js-cap-submit-btn"></a>
</div>
<inline src="index/open-third.include.html" />
<!--test | end-->
<div class="banner js-opem-banner" style="display:none;"></div>
<div class="mask js-open-mask" style="display:none;"></div>
<script>
    window.sDomain = '';
    window.urlSuffix = '';
</script>
<script type="text/javascript" src=""></script>
<script src=""></script>
<script src=""></script>
<script src="js/thirdLibs/es5-shim.min.js"></script>
<script src="js/thirdLibs/es5-sham.min.js"></script>
<!-- inject:js -->
<!-- endinject -->

<!-- <script src="js/thirdLibs/bluebird.js"></script>
<script src="js/thirdLibs/clipboard.min.js"></script>
<script src=""></script>
<script src=""></script>
<script src=""></script>
<script src=""></script>
<script src="js/modules/leavemsg-login.js"></script>
<script src="js/index/opengift.js"></script>
<script src="js/index/index.js"></script> -->
